{
  "presets": [
      [
          "@babel/preset-env",
          {
              "targets": {
                  "node": "6.10",
                  "esmodules": true
              }
          }
      ]
  ],
  "env": {
    "test": {
      "presets": ["@babel/preset-env"]
    }
  },
  "plugins": ["@babel/plugin-proposal-object-rest-spread"]
}